body{
  margin:40px auto;
  max-width:650px;
  line-height:1.6;
  font-size:18px;
  color:#444;
  padding:0 10px;
  background-color: #F5F5F5;
  }
h1,h2,h3{
  line-height:1.2;
  text-align: center;
}
.map_links{
  margin-top: 60px;
  text-align: center;

}
.intro{
  margin-top: 25px;
  text-align: center;
}
button{
  color: #861212;
}
button:hover{
  color: red;
  text-decoration: none;
}
